<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="WebApp_ID" version="2.4">
	<display-name>payone</display-name>
	<welcome-file-list>
		<welcome-file>merchantRequestParams.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>xss</filter-name>
		<filter-class>com.rew.payment.utility.XSSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/payprocessor</url-pattern>
	</filter-mapping>
	<!-- filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/payprocessorV2</url-pattern>
	</filter-mapping> -->
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/PGRouter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/PGRouterOffline</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/respHandlerHDFC</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/resphandlerPayzApp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/respHandlerFSS</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/merchantRequestProcessor</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/checksumgenerator</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/respHandlerHDFCNB</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/respHandlersbi</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/hdfc/TranVbyV.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/rupay/Redirect.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/merchantResponse.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/isg/sendRequest.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/redirector.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/demoBankPGProcessor</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/Retry.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/viewchallen..jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/ipaySBI.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>xss</filter-name>
		<url-pattern>/SBIRedirect.jsp</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>ClickjackPreventionFilterDeny</filter-name>
		<filter-class>com.rew.payment.utility.ClickjackingPreventionFilter</filter-class>
		<init-param>
			<param-name>mode</param-name>
			<param-value>DENY</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ClickjackPreventionFilterDeny</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 
	<filter>
    <filter-name>CORSFilter</filter-name>
    <filter-class>com.rew.payment.utility.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
    <filter-name>CORSFilter</filter-name>
    <url-pattern>/*</url-pattern>
	</filter-mapping>
	 -->
	<servlet>
		<description></description>
		<display-name>LYPayProcessor</display-name>
		<servlet-name>LYPayProcessor</servlet-name>
		<servlet-class>com.apps.lbps.mware.processor.IYPayProcessor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LYPayProcessor</servlet-name>
		<url-pattern>/LOYRTPayProcessor</url-pattern>
	</servlet-mapping>


	<servlet>
		<description>
		</description>
		<display-name>AjaxAction</display-name>
		<servlet-name>AjaxAction</servlet-name>
		<servlet-class>com.rew.payment.utility.AjaxAction</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BankList</display-name>
		<servlet-name>BankList</servlet-name>
		<servlet-class>com.payone.payment.utility.BankList</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>PaymentTxnServlet</display-name>
		<servlet-name>PaymentTxnServlet</servlet-name>
		<servlet-class>com.rew.payment.router.TxnRequestProcessor</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>respHandlerICICICorpNB</display-name>
		<servlet-name>RespHandlerICICICorpNB</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerICICICorpNB</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>MerchantRequestProcessor</display-name>
		<servlet-name>MerchantRequestProcessor</servlet-name>
		<servlet-class>com.rew.payment.router.MerchantRequestProcessor</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>checksumgenerator</display-name>
		<servlet-name>checksumgenerator</servlet-name>
		<servlet-class>com.rew.payment.utility.HashGenerator</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>payprocessor</display-name>
		<servlet-name>payprocessor</servlet-name>
		<servlet-class>com.rew.payment.router.PGTransaction</servlet-class>
	</servlet>
	<!-- <servlet>
		<description>
		</description>
		<display-name>payprocessorV2</display-name>
		<servlet-name>payprocessorV2</servlet-name>
		<servlet-class>com.payone.payment.router.PGTransactionV2</servlet-class>
	</servlet> -->
	<servlet>
		<description>
		</description>
		<display-name>PGRouter</display-name>
		<servlet-name>PGRouter</servlet-name>
		<servlet-class>com.rew.payment.router.PGRouter</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>PGRedirector</display-name>
		<servlet-name>PGRedirector</servlet-name>
		<servlet-class>com.rew.payment.router.PGRedirector</servlet-class>
	</servlet>
		<!-- <servlet>
		<description></description>
		<display-name>YBLPayAPI</display-name>
		<servlet-name>YBLPayAPI</servlet-name>
		<servlet-class>com.payone.payment.api.YBLPayApi</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>YBLPayAPI</servlet-name>
		<url-pattern>/yblPay</url-pattern>
	</servlet-mapping> -->
	<servlet>
		<description>
		</description>
		<display-name>respHandlerTOM</display-name>
		<servlet-name>respHandlerTOM</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerTOM</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RespHandlerHDFC</display-name>
		<servlet-name>RespHandlerHDFC</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerHDFC</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RespHandlerFSS</display-name>
		<servlet-name>RespHandlerFSS</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerFSS</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>respHandlerPMC</display-name>
		<servlet-name>respHandlerPMC</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerPMC</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>respHandlerHDFCNB</display-name>
		<servlet-name>respHandlerHDFCNB</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerHDFCNB</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>respHandlerUPI</display-name>
		<servlet-name>respHandlerUPI</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerUPI</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>respHandlerHDFCUPI</display-name>
		<servlet-name>RespHandlerHDFCUPI</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerHDFCUPI</servlet-class>
	</servlet>
	<servlet>
		<description> </description>
		<display-name>Get Txn Details</display-name>
		<servlet-name>GetTxnDetails</servlet-name>
		<servlet-class>com.rew.payment.utility.GetTxnDetails</servlet-class>
	</servlet>
	<servlet>
		<description> </description>
		<display-name>Refund Request</display-name>
		<servlet-name>RefundRequest</servlet-name>
		<servlet-class>com.rew.payment.utility.RefundRequest</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Response Verification</display-name>
		<servlet-name>ResponseVerification</servlet-name>
		<servlet-class>com.rew.payment.utility.ResponseVerification</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>demoBankPGProcessor</display-name>
		<servlet-name>demoBankPGProcessor</servlet-name>
		<servlet-class>com.payone.serviceprovider.DEMOBANKPGProcessor</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>respHandlerDemoBank</display-name>
		<servlet-name>respHandlerDemoBank</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerDemoBank</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>respHandlerDemoBank</servlet-name>
		<url-pattern>/respHandlerDemoBank</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>respHandlerAXISNB</display-name>
		<servlet-name>respHandlerAXISNB</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerAXISNB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>respHandlerAXISNB</servlet-name>
		<url-pattern>/respHandlerAXISNB</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>respHandlerYesBankNB</display-name>
		<servlet-name>respHandlerYesBankNB</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerYesBankNB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>respHandlerYesBankNB</servlet-name>
		<url-pattern>/respHandlerYesBankNB</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>respHandlerICICINB</display-name>
		<servlet-name>respHandlerICICINB</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerICICINB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>respHandlerICICINB</servlet-name>
		<url-pattern>/respHandlerICICINB</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>refundStatus</display-name>
		<servlet-name>refundStatus</servlet-name>
		<servlet-class>com.rew.payment.utility.RefundStatus</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>refundStatus</servlet-name>
		<url-pattern>/refundStatus</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>BQRProcessor</display-name>
		<servlet-name>BQRProcessor</servlet-name>
		<servlet-class>com.payone.serviceprovider.BQRProcessor</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BQRProcessor</servlet-name>
		<url-pattern>/BQRProcessor</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>PSPCLReport</display-name>
		<servlet-name>PSPCLReport</servlet-name>
		<servlet-class>com.rew.payment.utility.pspclreportservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PSPCLReport</servlet-name>
		<url-pattern>/PSPCLReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>demoBankPGProcessor</servlet-name>
		<url-pattern>/demoBankPGProcessor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RespHandlerHDFCUPI</servlet-name>
		<url-pattern>/respHandlerHDFCUPI</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RespHandlerICICICorpNB</servlet-name>
		<url-pattern>/respHandlerICICICorpNB</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RespHandlerHDFC</servlet-name>
		<url-pattern>/respHandlerHDFC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>respHandlerUPI</servlet-name>
		<url-pattern>/respHandlerUPI</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PaymentTxnServlet</servlet-name>
		<url-pattern>/txnRequestProcessor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MerchantRequestProcessor</servlet-name>
		<url-pattern>/merchantRequestProcessor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RespHandlerFSS</servlet-name>
		<url-pattern>/respHandlerFSS</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>respHandlerTOM</servlet-name>
		<url-pattern>/respHandlerTOM</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>respHandlerPMC</servlet-name>
		<url-pattern>/respHandlerPMC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>respHandlerHDFCNB</servlet-name>
		<url-pattern>/respHandlerHDFCNB</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>payprocessor</servlet-name>
		<url-pattern>/payprocessor</url-pattern>
	</servlet-mapping>
	<!-- <servlet-mapping>
		<servlet-name>payprocessorV2</servlet-name>
		<url-pattern>/payprocessorV2</url-pattern>
	</servlet-mapping> -->
	<servlet-mapping>
		<servlet-name>checksumgenerator</servlet-name>
		<url-pattern>/checksumgenerator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BankList</servlet-name>
		<url-pattern>/BankList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PGRouter</servlet-name>
		<url-pattern>/PGRouter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetTxnDetails</servlet-name>
		<url-pattern>/statusenquiry</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefundRequest</servlet-name>
		<url-pattern>/refundRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResponseVerification</servlet-name>
		<url-pattern>/verifyTxn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxAction</servlet-name>
		<url-pattern>/ajaxAction</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PGRedirector</servlet-name>
		<url-pattern>/PGRedirector</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<servlet-name>RespCancelRequestHandler</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespCancelRequestHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RespCancelRequestHandler</servlet-name>
		<url-pattern>/RespCancelRequestHandler</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>MailPSPCLReport</display-name>
		<servlet-name>MailPSPCLReport</servlet-name>
		<servlet-class>com.rew.payment.utility.MailPSPCLReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MailPSPCLReport</servlet-name>
		<url-pattern>/MailPSPCLReport</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>RespHandlerRetry</display-name>
		<servlet-name>RespHandlerRetry</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerRetry</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RespHandlerRetry</servlet-name>
		<url-pattern>/RespHandlerRetry</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>RespHandlerRetryCancel</display-name>
		<servlet-name>RespHandlerRetryCancel</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerRetryCancel</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RespHandlerRetryCancel</servlet-name>
		<url-pattern>/RespHandlerRetryCancel</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InitEncrypt</servlet-name>
		<url-pattern>/initEncrypt</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>InitEncrypt</display-name>
		<servlet-name>InitEncrypt</servlet-name>
		<servlet-class>com.rew.payment.utility.InitEncrypt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RespHandlerPayzApp</servlet-name>
		<url-pattern>/resphandlerPayzApp</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>RespHandlerPayzApp</display-name>
		<servlet-name>RespHandlerPayzApp</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerPayzApp</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>respHandlersbi</servlet-name>
		<url-pattern>/respHandlersbi</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>respHandlersbi</display-name>
		<servlet-name>respHandlersbi</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerSBI</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BQRRespHandler</servlet-name>
		<url-pattern>/BQRRespHandler</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>BQRRespHandler</display-name>
		<servlet-name>BQRRespHandler</servlet-name>
		<servlet-class>com.payone.serviceprovider.BQRRespHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SurchargeCalculation</servlet-name>
		<url-pattern>/SurchargeCalculation</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>SurchargeCalculation</display-name>
		<servlet-name>SurchargeCalculation</servlet-name>
		<servlet-class>com.rew.payment.utility.SurchargeCalculation</servlet-class>
	</servlet>
	<servlet>
		<display-name>RespHandlerATOMAMEX</display-name>
		<servlet-name>RespHandlerATOMAMEX</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerATOMAMEX</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RespHandlerATOMAMEX</servlet-name>
		<url-pattern>/RespHandlerATOMAMEX</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PGRouterOffline</servlet-name>
		<url-pattern>/PGRouterOffline</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>PGRouterOffline</display-name>
		<servlet-name>PGRouterOffline</servlet-name>
		<servlet-class>com.rew.payment.router.PGRouterOffline</servlet-class>
	</servlet>
	<servlet>
		<display-name>RespHandlerATOMNB</display-name>
		<servlet-name>RespHandlerATOMNB</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerATOMNB</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RespHandlerATOMNB</servlet-name>
		<url-pattern>/RespHandlerATOMNB</url-pattern>
	</servlet-mapping>

	<servlet>
		<display-name>RespHandlerATOMWALLET</display-name>
		<servlet-name>RespHandlerATOMWALLET</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerATOMWALLET</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RespHandlerATOMWALLET</servlet-name>
		<url-pattern>/RespHandlerATOMWALLET</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>SaveChallan</display-name>
		<servlet-name>SaveChallan</servlet-name>
		<servlet-class>com.payone.offline.ecms.RespHandlerChallan</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveChallan</servlet-name>
		<url-pattern>/SaveChallan</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>RespHandlerATOMEMI</display-name>
		<servlet-name>RespHandlerATOMEMI</servlet-name>
		<servlet-class>com.payone.serviceprovider.RespHandlerATOMEMI</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RespHandlerATOMEMI</servlet-name>
		<url-pattern>/RespHandlerATOMEMI</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>earnMore</servlet-name>
		<jsp-file>/earn-more.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>earnMore</servlet-name>
		<url-pattern>/earn-more834</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>regrowTrade</servlet-name>
		<jsp-file>/regrowTrade.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>regrowTrade</servlet-name>
		<url-pattern>/regrow-trade</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>respToMerchant</servlet-name>
		<servlet-class>com.rew.offline.ecms.SendResponseToMerchant</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>respToMerchant</servlet-name>
		<url-pattern>/respToMerchant</url-pattern>
	</servlet-mapping>

	<!--<servlet> <servlet-name>earnMore1</servlet-name> <jsp-file>/earn-more1.jsp</jsp-file> 
		</servlet> <servlet-mapping> <servlet-name>earnMore1</servlet-name> <url-pattern>/earn-more124</url-pattern> 
		</servlet-mapping> -->

	<!--<servlet> <servlet-name>earnMore2</servlet-name> <jsp-file>/earn-more2.jsp</jsp-file> 
		</servlet> <servlet-mapping> <servlet-name>earnMore2</servlet-name> <url-pattern>/earn-more156</url-pattern> 
		</servlet-mapping> -->


	<servlet>
		<servlet-name>digidhan</servlet-name>
		<jsp-file>/digidhan.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>digidhan</servlet-name>
		<url-pattern>/digidhan</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>eventure</servlet-name>
		<jsp-file>/eventure.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>eventure</servlet-name>
		<url-pattern>/eventure</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>blinkpay</servlet-name>
		<jsp-file>/blinkpay.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>blinkpay</servlet-name>
		<url-pattern>/blinkpay</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>blinkpay2</servlet-name>
		<jsp-file>/blinkpay2.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>blinkpay2</servlet-name>
		<url-pattern>/blinkpay2</url-pattern>
	</servlet-mapping>

	<servlet>

		<description></description>
		<servlet-name>SessionTimedoutTxnHandler</servlet-name>
		<servlet-class>com.payone.serviceprovider.SessionTimedoutTxnHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SessionTimedoutTxnHandler</servlet-name>
		<url-pattern>/SessionTimedoutTxnHandler</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/generalErrorPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>400</error-code>
		<location>/generalErrorPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>401</error-code>
		<location>/generalErrorPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/generalErrorPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/generalErrorPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/generalErrorPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>503</error-code>
		<location>/generalErrorPage.jsp</location>
	</error-page>
</web-app>
